@charset "UTF-8";

h1{      
    /* BOX-LEVEL */

    text-align: center;
     
    background-color: rgb(186, 186, 186);
    height: 300px;
    width: 300px;

    /* border-width: 10px;
    border-style: solid;
    border-color: black; */

    border: 10px solid black;

    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    padding-left: 10px; */

    padding: 10px;

    /* 
    margin-right: auto;
    margin-left: auto;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-left: 10px; 
    */

    margin: 20px auto 40px auto;

    /* outline-style: dashed;
    outline-width: 5px;
    outline-color: crimson; */

    outline: 5px dashed crimson ;
}

a{
    /*INLINE-LEVEL  */

    /* border-style: dashed;
    border-width: 5px;
    border-color: cornflowerblue; */

    border: 5px dashed cornflowerblue;


    /* padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px; 
    padding-left: 10px; */
    
    padding: 10px;
}

/* A TAG DISPLAY MUDA A NATUREZA DO ELEMENTO */
